<a href="https://colab.research.google.com/github/mozzaquatro/financial_market/blob/main/05_Backtesting_com_Pyfolio_%7C_Sharpe%2C_Beta%2C_Volatilidade%2C_CAGR%2C_Drawdown.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. importando bibliotecas

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas_datareader.data as web

!pip install yfinance --upgrade --no-cache-dir
import yfinance as yf
yf.pdr_override()

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.63)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas_datareader.data as web
import seaborn as sns

In [ ]:
!pip install pyfolio
import pyfolio as pf
import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: pyfolio in /usr/local/lib/python3.7/dist-packages (0.9.2)
Requirement already satisfied: scipy>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from pyfolio) (1.4.1)
Requirement already satisfied: matplotlib>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from pyfolio) (3.2.2)
Requirement already satisfied: pandas>=0.18.1 in /usr/local/lib/python3.7/dist-packages (from pyfolio) (1.1.5)
Requirement already satisfied: seaborn>=0.7.1 in /usr/local/lib/python3.7/dist-packages (from pyfolio) (0.11.1)
Requirement already satisfied: pytz>=2014.10 in /usr/local/lib/python3.7/dist-packages (from pyfolio) (2018.9)
Requirement already satisfied: ipython>=3.2.3 in /usr/local/lib/python3.7/dist-packages (from pyfolio) (5.5.0)
Requirement already satisfied: numpy>=1.11.1 in /usr/local/lib/python3.7/dist-packages (from pyfolio) (1.19.5)
Requirement already satisfied: empyrical>=0.5.0 in /usr/local/lib/python3.7/dist-packages (from pyfolio) (0.5.5)
Requirement already satisfied: scikit-learn>=0.16.1 in /usr/local/lib/python3.7/dist-packages (from pyfolio) (0.22.2.post1)
Requirement already satisfied: pandas-datareader>=0.2 in /usr/local/lib/python3.7/dist-packages (from empyrical>=0.5.0->pyfolio) (0.9.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=3.2.3->pyfolio) (4.4.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=3.2.3->pyfolio) (57.2.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython>=3.2.3->pyfolio) (5.0.5)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython>=3.2.3->pyfolio) (0.8.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython>=3.2.3->pyfolio) (1.0.18)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=3.2.3->pyfolio) (0.7.5)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=3.2.3->pyfolio) (2.6.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=3.2.3->pyfolio) (4.8.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4.0->pyfolio) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4.0->pyfolio) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4.0->pyfolio) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4.0->pyfolio) (1.3.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib>=1.4.0->pyfolio) (1.15.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader>=0.2->empyrical>=0.5.0->pyfolio) (4.6.3)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader>=0.2->empyrical>=0.5.0->pyfolio) (2.23.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=3.2.3->pyfolio) (0.2.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader>=0.2->empyrical>=0.5.0->pyfolio) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader>=0.2->empyrical>=0.5.0->pyfolio) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader>=0.2->empyrical>=0.5.0->pyfolio) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader>=0.2->empyrical>=0.5.0->pyfolio) (1.24.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.16.1->pyfolio) (1.0.1)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from traitlets>=4.2->ipython>=3.2.3->pyfolio) (0.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython>=3.2.3->pyfolio) (0.7.0)

2. Obtendo e tratando os dados

In [ ]:
tickers = ["ABEV3.SA", "ITSA4.SA", "WEGE3.SA","USIM5.SA", "VALE3.SA", "^BVSP"]
dados_yahoo = web.get_data_yahoo(tickers, period="1y")["Adj Close"]
#dados_yahoo = web.get_data_yahoo(tickers, start="2017-01-01",end="2020-01-01")["Adj Close"]

[*********************100%***********************]  6 of 6 completed

In [ ]:
dados_yahoo

             ABEV3.SA   ITSA4.SA   USIM5.SA    VALE3.SA   WEGE3.SA     ^BVSP
Date
2020-08-13  12.808670   9.532032   8.637742   54.357815  34.071579  100461.0
2020-08-14  12.857151   9.599703   8.727201   55.258522  34.205101  101353.0
2020-08-17  12.459607   9.309683   8.796781   56.051147  33.611691   99595.0
2020-08-18  12.682619   9.493746   9.393171   56.798733  33.478172  102065.0
2020-08-19  12.459607   9.425933   9.591969   56.195263  32.578167  100854.0
...               ...        ...        ...         ...        ...       ...
2021-08-09  17.160000  11.560000  21.520000  109.010002  36.160000  123019.0
2021-08-10  16.709999  11.470000  22.100000  110.059998  36.090000  122202.0
2021-08-11  16.570000  11.640000  22.030001  109.269997  36.150002  122056.0
2021-08-12  16.580000  11.440000  21.719999  109.199997  35.509998  120701.0
2021-08-13  16.650000  11.510000  21.150000  108.300003  35.770000  121194.0

[246 rows x 6 columns]

In [ ]:
retorno = dados_yahoo.pct_change()
retorno

            ABEV3.SA  ITSA4.SA  USIM5.SA  VALE3.SA  WEGE3.SA     ^BVSP
Date
2020-08-13       NaN       NaN       NaN       NaN       NaN       NaN
2020-08-14  0.003785  0.007099  0.010357  0.016570  0.003919  0.008879
2020-08-17 -0.030920 -0.030211  0.007973  0.014344 -0.017349 -0.017345
2020-08-18  0.017899  0.019771  0.067796  0.013338 -0.003972  0.024800
2020-08-19 -0.017584 -0.007143  0.021164 -0.010625 -0.026883 -0.011865
...              ...       ...       ...       ...       ...       ...
2021-08-09  0.003509  0.004344 -0.003242 -0.006290 -0.002208  0.001702
2021-08-10 -0.026224 -0.007785  0.026952  0.009632 -0.001936 -0.006641
2021-08-11 -0.008378  0.014821 -0.003167 -0.007178  0.001663 -0.001195
2021-08-12  0.000604 -0.017182 -0.014072 -0.000641 -0.017704 -0.011101
2021-08-13  0.004222  0.006119 -0.026243 -0.008242  0.007322  0.004084

[246 rows x 6 columns]

In [ ]:
retorno_acumulado = (1+retorno).cumprod()
retorno_acumulado.iloc[0]=1
retorno_acumulado

            ABEV3.SA  ITSA4.SA  USIM5.SA  VALE3.SA  WEGE3.SA     ^BVSP
Date
2020-08-13  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
2020-08-14  1.003785  1.007099  1.010357  1.016570  1.003919  1.008879
2020-08-17  0.972748  0.976673  1.018412  1.031152  0.986502  0.991380
2020-08-18  0.990159  0.995983  1.087457  1.044905  0.982584  1.015966
2020-08-19  0.972748  0.988869  1.110472  1.033803  0.956168  1.003912
...              ...       ...       ...       ...       ...       ...
2021-08-09  1.339718  1.212753  2.491392  2.005415  1.061295  1.224545
2021-08-10  1.304585  1.203311  2.558539  2.024732  1.059241  1.216412
2021-08-11  1.293655  1.221146  2.550435  2.010198  1.061002  1.214959
2021-08-12  1.294436  1.200164  2.514546  2.008911  1.042218  1.201471
2021-08-13  1.299901  1.207508  2.448557  1.992354  1.049849  1.206379

[246 rows x 6 columns]

In [ ]:
carteira = 1000 *retorno_acumulado.iloc[:,:5]
carteira["saldo"]=carteira.sum(axis=1)
carteira["retorno"]=carteira["saldo"].pct_change()
carteira

               ABEV3.SA     ITSA4.SA  ...        saldo   retorno
Date                                  ...
2020-08-13  1000.000000  1000.000000  ...  5000.000000       NaN
2020-08-14  1003.785013  1007.099307  ...  5041.729852  0.008346
2020-08-17   972.747919   976.673477  ...  4985.487327 -0.011155
2020-08-18   990.158935   995.983416  ...  5101.087316  0.023187
2020-08-19   972.747919   988.869201  ...  5062.060099 -0.007651
...                 ...          ...  ...          ...       ...
2021-08-09  1339.717534  1212.753000  ...  8110.572983 -0.001627
2021-08-10  1304.585021  1203.311136  ...  8150.407651  0.004911
2021-08-11  1293.654973  1221.145746  ...  8136.435971 -0.001714
2021-08-12  1294.435712  1200.163781  ...  8060.273742 -0.009361
2021-08-13  1299.900736  1207.507509  ...  7998.167273 -0.007705

[246 rows x 7 columns]

3. Resultados

In [ ]:
pf.create_full_tear_sheet(carteira["retorno"], benchmark_rets = retorno["^BVSP"])

AttributeError: ignored