<a href="https://colab.research.google.com/github/mozzaquatro/financial_market/blob/main/08_Analise_Fundamentalista.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. importando bibliotecas

In [1]:
import numpy as np
import pandas as pd
import string
import warnings
warnings.filterwarnings('ignore')

import requests

2. Obtendo e tratando os dados

In [2]:
url = 'http://www.fundamentus.com.br/resultado.php'

In [3]:
header = {
  "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.89 Safari/537.36"  
 }

r = requests.get(url, headers=header)

In [4]:
df = pd.read_html(r.text,  decimal=',', thousands='.')[0]

In [5]:
df

      Papel  Cotação       P/L  ...   Patrim. Líq  Dív.Brut/ Patrim. Cresc. Rec.5a
0     CLAN3     0.00      0.00  ...  1.012240e+09               0.00       -63,96%
1     CSTB3   150.00      0.00  ...  8.420670e+09               0.14        31,91%
2     PORP4     2.40      0.00  ...  2.239900e+07               0.00        13,66%
3     PMET3     0.00      0.00  ... -2.908630e+08               0.00        37,74%
4     MNSA3     0.42      0.00  ... -9.105000e+06              -6.52       -41,11%
..      ...      ...       ...  ...           ...                ...           ...
979  UBBR11    14.75   1201.81  ...  1.031720e+10               0.00        10,58%
980   UBBR3    18.00   1466.61  ...  1.031720e+10               0.00        10,58%
981   GLOB4    30.49   4873.60  ...  5.675000e+09               1.76         5,35%
982   LWSA3    12.92  18050.70  ...  2.950560e+09               0.04        53,23%
983  BBTG12     3.15  66496.50  ...  0.000000e+00               0.00         0,00%

[984 rows x 21 columns]

tratando os dados

In [6]:
for coluna in ['Div.Yield', 'Mrg Ebit', 'Mrg. Líq.', 'ROIC', 'ROE', 'Cresc. Rec.5a']:
  df[coluna] = df[coluna].str.replace('.', '')
  df[coluna] = df[coluna].str.replace(',', '.')
  df[coluna] = df[coluna].str.rstrip('%').astype('float')/100

In [7]:
df

      Papel  Cotação       P/L  ...   Patrim. Líq  Dív.Brut/ Patrim.  Cresc. Rec.5a
0     CLAN3     0.00      0.00  ...  1.012240e+09               0.00        -0.6396
1     CSTB3   150.00      0.00  ...  8.420670e+09               0.14         0.3191
2     PORP4     2.40      0.00  ...  2.239900e+07               0.00         0.1366
3     PMET3     0.00      0.00  ... -2.908630e+08               0.00         0.3774
4     MNSA3     0.42      0.00  ... -9.105000e+06              -6.52        -0.4111
..      ...      ...       ...  ...           ...                ...            ...
979  UBBR11    14.75   1201.81  ...  1.031720e+10               0.00         0.1058
980   UBBR3    18.00   1466.61  ...  1.031720e+10               0.00         0.1058
981   GLOB4    30.49   4873.60  ...  5.675000e+09               1.76         0.0535
982   LWSA3    12.92  18050.70  ...  2.950560e+09               0.04         0.5323
983  BBTG12     3.15  66496.50  ...  0.000000e+00               0.00         0.0000

[984 rows x 21 columns]

**Analisando os dados**

empresa com liquidez 
1.000.000 média diária dos ultimos 2 meses

In [8]:
df_liq2 = df[df['Liq.2meses'] > 1000000]

In [9]:
df_liq2.shape

(281, 21)

In [10]:
# 1. P/L (preço da ação dividido pelo lucro por ação).
# não pode ser muito alto (ex.: 10,20,...)
# entra 0 e 10
df_pl = df[df['P/L'].between(0,10)]

In [11]:
df_pl

     Papel  Cotação   P/L  ...   Patrim. Líq  Dív.Brut/ Patrim.  Cresc. Rec.5a
0    CLAN3     0.00  0.00  ...  1.012240e+09               0.00        -0.6396
1    CSTB3   150.00  0.00  ...  8.420670e+09               0.14         0.3191
2    PORP4     2.40  0.00  ...  2.239900e+07               0.00         0.1366
3    PMET3     0.00  0.00  ... -2.908630e+08               0.00         0.3774
4    MNSA3     0.42  0.00  ... -9.105000e+06              -6.52        -0.4111
..     ...      ...   ...  ...           ...                ...            ...
662  VIVO4    71.80  9.81  ...  9.816290e+09               0.35         0.1306
663  FESA3    50.00  9.95  ...  2.185840e+09               0.19         0.1468
664  CSAB4    42.98  9.95  ...  1.810920e+08               0.00        -0.1563
665  TCSL4     7.82  9.95  ...  2.284780e+10               0.14         0.0229
666  COCE3    60.00  9.99  ...  3.486140e+09               0.96         0.1175

[425 rows x 21 columns]

menor relacao EV/Ebit e
maior ROI

In [9]:
ranking = pd.DataFrame()
ranking['pos']=range(1,151)
ranking['EV/EBIT'] = df[ df['EV/EBIT'] > 0].sort_values(by=['EV/EBIT'])['Papel'][:150].values
ranking['ROIC'] = df.sort_values(by=['ROIC'], ascending=False)['Papel'][:150].values

In [10]:
ranking

     pos EV/EBIT   ROIC
0      1   PSSA3  CMIN3
1      2   GOAU3  WIZS3
2      3   GOAU4  PSSA3
3      4   USIM3  TASA4
4      5   EVEN3  TASA3
..   ...     ...    ...
145  146   VULC3  SEER3
146  147   VIIA3  DIRR3
147  148   ALSO3  EZTC3
148  149   LREN3  COCE5
149  150   ENEV3  AMBP3

[150 rows x 3 columns]

In [ ]:
a = ranking.pivot_table(columns='EV/EBIT', values='pos')

In [ ]:
b = ranking.pivot_table(columns='ROIC', values='pos')

In [ ]:
t = pd.concat([a,b])
t

     AALR3  ABEV3  ALLD3  ALSO3  ALUP11  ...  RRRP3  TFCO4  VAMO3  VIVA3  WEGE3
pos  144.0    139     26  147.0      21  ...    NaN    NaN    NaN    NaN    NaN
pos    NaN     62     46    NaN      40  ...  112.0   25.0   82.0   53.0   30.0

[2 rows x 167 columns]

In [ ]:
rank = t.dropna(axis=1).sum()
rank

ABEV3     201
ALLD3      72
ALUP11     61
AMAR3     214
ASAI3     173
         ...
VBBR3     180
VITT3     169
VLID3     255
VULC3     269
WIZS3      18
Length: 133, dtype: int64

In [ ]:
rank.sort_values()[:15]

PSSA3     4
CMIN3    12
VALE3    14
WIZS3    18
CSNA3    20
ETER3    21
USIM5    22
USIM3    22
BRKM5    25
GOAU3    26
GOAU4    26
MRFG3    29
TASA4    31
TASA3    33
GGBR3    34
dtype: int64