<a href="https://colab.research.google.com/github/mozzaquatro/financial_market/blob/main/08_Analise_Fundamentalista.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. importando bibliotecas

In [1]:
import numpy as np
import pandas as pd
import string
import warnings
warnings.filterwarnings('ignore')

import requests

2. Obtendo e tratando os dados

In [2]:
url = 'http://www.fundamentus.com.br/resultado.php'

In [3]:
header = {
  "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.89 Safari/537.36"  
 }

r = requests.get(url, headers=header)

In [4]:
df = pd.read_html(r.text,  decimal=',', thousands='.')[0]

In [5]:
df

      Papel  Cotação       P/L  ...   Patrim. Líq  Dív.Brut/ Patrim. Cresc. Rec.5a
0     PMET3     0.00      0.00  ... -2.908630e+08               0.00        37,74%
1     POPR4    10.17      0.00  ...  5.458030e+08               0.82        30,93%
2     MNSA3     0.42      0.00  ... -9.105000e+06              -6.52       -41,11%
3     CSTB4   147.69      0.00  ...  8.420670e+09               0.14        31,91%
4     CFLU4  1000.00      0.00  ...  6.035100e+07               0.06         8,14%
..      ...      ...       ...  ...           ...                ...           ...
977  UBBR11    14.75   1201.81  ...  1.031720e+10               0.00        10,58%
978   UBBR3    18.00   1466.61  ...  1.031720e+10               0.00        10,58%
979   GLOB4    30.49   4873.60  ...  5.675000e+09               1.76         5,35%
980   LWSA3    19.10  26684.90  ...  2.950560e+09               0.04        53,23%
981  BBTG12     3.15  37998.00  ...  8.000000e+03               0.00         0,00%

[982 rows x 21 columns]

In [6]:
for coluna in ['Div.Yield', 'Mrg Ebit', 'Mrg. Líq.', 'ROIC', 'ROE', 'Cresc. Rec.5a']:
  df[coluna] = df[coluna].str.replace('.', '')
  df[coluna] = df[coluna].str.replace(',', '.')
  df[coluna] = df[coluna].str.rstrip('%').astype('float')/100

In [7]:
df

      Papel  Cotação       P/L  ...   Patrim. Líq  Dív.Brut/ Patrim.  Cresc. Rec.5a
0     PMET3     0.00      0.00  ... -2.908630e+08               0.00         0.3774
1     POPR4    10.17      0.00  ...  5.458030e+08               0.82         0.3093
2     MNSA3     0.42      0.00  ... -9.105000e+06              -6.52        -0.4111
3     CSTB4   147.69      0.00  ...  8.420670e+09               0.14         0.3191
4     CFLU4  1000.00      0.00  ...  6.035100e+07               0.06         0.0814
..      ...      ...       ...  ...           ...                ...            ...
977  UBBR11    14.75   1201.81  ...  1.031720e+10               0.00         0.1058
978   UBBR3    18.00   1466.61  ...  1.031720e+10               0.00         0.1058
979   GLOB4    30.49   4873.60  ...  5.675000e+09               1.76         0.0535
980   LWSA3    19.10  26684.90  ...  2.950560e+09               0.04         0.5323
981  BBTG12     3.15  37998.00  ...  8.000000e+03               0.00         0.0000

[982 rows x 21 columns]

**Analisando os dados**

empresa com liquidez 
1.000.000 média diária dos ultimos 2 meses

In [8]:
df = df[df['Liq.2meses'] > 1000000]

menor relacao EV/Ebit e
maior ROI

In [9]:
ranking = pd.DataFrame()
ranking['pos']=range(1,151)
ranking['EV/EBIT'] = df[ df['EV/EBIT'] > 0].sort_values(by=['EV/EBIT'])['Papel'][:150].values
ranking['ROIC'] = df.sort_values(by=['ROIC'], ascending=False)['Papel'][:150].values

In [10]:
ranking

     pos EV/EBIT   ROIC
0      1   PSSA3  CMIN3
1      2  GPIV33  WIZS3
2      3   GOAU3  PSSA3
3      4   GOAU4  TASA4
4      5   USIM3  TASA3
..   ...     ...    ...
145  146   VIIA3  LAME3
146  147   ALSO3  LAME4
147  148   ENEV3  VLID3
148  149   LREN3  MULT3
149  150   HBSA3  ORVR3

[150 rows x 3 columns]

In [11]:
a = ranking.pivot_table(columns='EV/EBIT', values='pos')

In [12]:
b = ranking.pivot_table(columns='ROIC', values='pos')

In [13]:
t = pd.concat([a,b])
t

     AALR3  ABEV3  ALLD3  ALSO3  ALUP11  ...  RRRP3  TFCO4  VAMO3  VIVA3  WEGE3
pos  144.0    139     26  147.0      21  ...    NaN    NaN    NaN    NaN    NaN
pos    NaN     62     46    NaN      40  ...  112.0   25.0   82.0   53.0   30.0

[2 rows x 167 columns]

In [14]:
rank = t.dropna(axis=1).sum()
rank

ABEV3     201
ALLD3      72
ALUP11     61
AMAR3     214
ASAI3     173
         ...
VBBR3     180
VITT3     169
VLID3     255
VULC3     269
WIZS3      18
Length: 133, dtype: int64

In [15]:
rank.sort_values()[:15]

PSSA3     4
CMIN3    12
VALE3    14
WIZS3    18
CSNA3    20
ETER3    21
USIM5    22
USIM3    22
BRKM5    25
GOAU3    26
GOAU4    26
MRFG3    29
TASA4    31
TASA3    33
GGBR3    34
dtype: int64