<a href="https://colab.research.google.com/github/mozzaquatro/financial_market/blob/main/21_AF_Magic%20Formula%20de%20Joel%20Greenblatt%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Analise - Magic Formula de Joel Greenblatt 
1. importando bibliotecas

In [2]:
import numpy as np
import pandas as pd
import string
import warnings
warnings.filterwarnings('ignore')

import requests

2. Obtendo e tratando os dados

In [3]:
url = 'http://www.fundamentus.com.br/resultado.php'

In [4]:
header = {
  "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.89 Safari/537.36"  
 }

r = requests.get(url, headers=header)

In [5]:
df = pd.read_html(r.text,  decimal=',', thousands='.')[0]

In [6]:
df

      Papel  Cotação       P/L  ...   Patrim. Líq  Dív.Brut/ Patrim. Cresc. Rec.5a
0     PMET3     0.00      0.00  ... -2.908630e+08               0.00        37,74%
1     CLAN3     0.00      0.00  ...  1.012240e+09               0.00       -63,96%
2     MNSA3     0.42      0.00  ... -9.105000e+06              -6.52       -41,11%
3     CSTB3   150.00      0.00  ...  8.420670e+09               0.14        31,91%
4     PORP4     2.40      0.00  ...  2.239900e+07               0.00        13,66%
..      ...      ...       ...  ...           ...                ...           ...
979  UBBR11    14.75   1201.81  ...  1.031720e+10               0.00        10,58%
980   UBBR3    18.00   1466.61  ...  1.031720e+10               0.00        10,58%
981   GLOB4    30.49   4873.60  ...  5.675000e+09               1.76         5,35%
982   LWSA3    14.55  20328.00  ...  2.950560e+09               0.04        53,23%
983  BBTG12     3.15  66496.50  ...  0.000000e+00               0.00         0,00%

[984 rows x 21 columns]

tratando os dados

In [7]:
for coluna in ['Div.Yield', 'Mrg Ebit', 'Mrg. Líq.', 'ROIC', 'ROE', 'Cresc. Rec.5a']:
  df[coluna] = df[coluna].str.replace('.', '')
  df[coluna] = df[coluna].str.replace(',', '.')
  df[coluna] = df[coluna].str.rstrip('%').astype('float')/100

In [8]:
df

      Papel  Cotação       P/L  ...   Patrim. Líq  Dív.Brut/ Patrim.  Cresc. Rec.5a
0     PMET3     0.00      0.00  ... -2.908630e+08               0.00         0.3774
1     CLAN3     0.00      0.00  ...  1.012240e+09               0.00        -0.6396
2     MNSA3     0.42      0.00  ... -9.105000e+06              -6.52        -0.4111
3     CSTB3   150.00      0.00  ...  8.420670e+09               0.14         0.3191
4     PORP4     2.40      0.00  ...  2.239900e+07               0.00         0.1366
..      ...      ...       ...  ...           ...                ...            ...
979  UBBR11    14.75   1201.81  ...  1.031720e+10               0.00         0.1058
980   UBBR3    18.00   1466.61  ...  1.031720e+10               0.00         0.1058
981   GLOB4    30.49   4873.60  ...  5.675000e+09               1.76         0.0535
982   LWSA3    14.55  20328.00  ...  2.950560e+09               0.04         0.5323
983  BBTG12     3.15  66496.50  ...  0.000000e+00               0.00         0.0000

[984 rows x 21 columns]

**Analisando os dados**

empresa com liquidez 
1.000.000 média diária dos ultimos 2 meses

In [10]:
df = df[df['Liq.2meses'] > 1000000]
df.shape

(280, 21)

menor relacao EV/Ebit e
maior ROI

In [13]:
ranking = pd.DataFrame()
ranking['pos']=range(1,151)
ranking['EV/EBIT'] = df[ df['EV/EBIT'] > 0].sort_values(by=['EV/EBIT'])['Papel'][:150].values
ranking['ROIC'] = df.sort_values(by=['ROIC'], ascending=False)['Papel'][:150].values
ranking.shape

(150, 3)

In [14]:
ranking

     pos EV/EBIT   ROIC
0      1   PSSA3  CMIN3
1      2   GOAU3  WIZS3
2      3   GOAU4  PSSA3
3      4   EVEN3  TASA3
4      5   USIM3  TASA4
..   ...     ...    ...
145  146   STBP3  DIRR3
146  147   LREN3  EZTC3
147  148   ENEV3  AMBP3
148  149   VIVA3  LAME3
149  150   JPSA3  LAME4

[150 rows x 3 columns]

In [15]:
a = ranking.pivot_table(columns='EV/EBIT', values='pos')

In [16]:
b = ranking.pivot_table(columns='ROIC', values='pos')

In [17]:
t = pd.concat([a,b])
t

     ABEV3  AGRO3  ALLD3  ALSO3  ALUP11  ...  RDOR3  RRRP3  TFCO4  VAMO3  WEGE3
pos    134     34     26  144.0      20  ...    NaN    NaN    NaN    NaN    NaN
pos     67     35     50    NaN      43  ...  113.0  114.0   28.0   84.0   32.0

[2 rows x 164 columns]

In [18]:
rank = t.dropna(axis=1).sum()
rank

ABEV3     201
AGRO3      69
ALLD3      76
ALUP11     63
AMAR3     213
         ...
VBBR3     200
VITT3     176
VIVA3     207
VULC3     277
WIZS3      15
Length: 136, dtype: int64

In [19]:
rank.sort_values()[:15]
# retirar empresas do setor financeiro

PSSA3     4
CMIN3    12
VALE3    14
WIZS3    15
PLPL3    18
CSNA3    22
USIM3    25
ETER3    25
MRFG3    26
GOAU3    27
USIM5    27
GOAU4    29
TASA3    33
DMMO3    33
BRKM3    33
dtype: int64